.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  background: $color-secondary;
  color: #fff;
  transition: 0.2s;
  margin-bottom: 2px;

  &:hover {
    background-color: darken($color-secondary, 10%);
  }
}

.btn--primary {
  background-color: $color-primary;
  background-image: linear-gradient(
    to right,
    $color-primary,
    darken($color-primary, 10%)
  );

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.btn--large-rounded {
  border-radius: 4rem;
  font-weight: 600;
  padding: 1rem 4rem;
  text-shadow: $text-shadow;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
  }
}

.btn--answer {
  background-color: $color-green;
  width: 100%;

  &:hover {
    background-color: darken($color-green, 10%);
  }
}

.btn--skip {
  background-color: $color-red;
  width: 100%;

  &:hover {
    background-color: darken($color-red, 10%);
  }
}
