// Colours
$color-primary: #ad0038;
$color-secondary: #1a213d;
$color-off-white: #f3f3f3;
$color-dark-grey: #333;
$color-green: #53a937;
$color-red: #b72828;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// grid
$gutter-vertical: 8rem;

$gutter-vertical-small: 6rem;
$gutter-width: 6rem;
